body {
	background-color: rgb(15, 15, 15);
	color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	margin: 0;
	max-height: var(--window-height);
	max-width: var(--window-width);
}

noscript {
	color: red;
}

.mapContainer {
	margin-top: 2%;
	width: 1000px;
	max-width: 100%;
	overflow: hidden;
	scrollbar-width: none;
	background-color: black;
}

#stateMap {
	background: black;
	transform-origin: 0 0;
}